PORT=3001
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=debug
STORAGE_ROOT=../videos
VIDEO_PROCESSING_CRON_ENABLED=true
VIDEO_PROCESSOR_CRON="*/15 * * * * *"
# Required for Whisper transcription and phrase detection
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
